* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    padding: 10px 50px; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}

img {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: extra-bold;
    font-size: 48px;
    color: #f9faf8;
}

.signup {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px;
    border-radius: 6px;
    border: #3882f6;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    font-size: 18px;
    color: lightgrey;
}

.header-links, ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.top {
    display: flex;
    justify-content: space-between;
    background-color: #121f30;
    padding: 10px 50px;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 15px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: 10px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

h2 {
    padding: 20px 0;
}
h3 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: gray;
}

h5 {
    display: flex;
    justify-content: flex-end;
}
.calltoaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 8px;
    margin: 50px;
    padding: 30px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 8px;
}


.signup2 {
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    border: white;
    border-style: solid;
    margin: 5px 20px;
    padding: 2px 30px;
}