* {
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;

}

header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px 8px 40px;
    align-items: center;
}

ul {
    list-style: none;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    font-style: italic;
    font-weight: light;
}

a {
    text-decoration: none;
    color: lightgrey;
}

a:hover {
    color: #3882f6;
}



p {
    color: lightgrey;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h2 {

    font-size: 36px;
    font-weight: bolder;
}

h3 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    justify-content: flex-start;
}

h4 {
    color: #e5e7eb;
    font-weight: bold;
}

h5 {
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
}

.top-links {
    display: flex;
    gap: 8px;
    font-size: 18px;

}

.logo {
    font-size: 24px;
}

.top {
    background-color: #1f2937;
    color: white;
    display: flex;
    padding: 50px 40px 50px 40px;
    gap: 2px;
}

.signup-top {
    background-color: #3882f6;
    border-color: #3882f6;
    color: #f9faf8;
    padding: 4px 20px;
    border-radius: 6px;
    width: 120px
}

.signup-top:hover {
    color: pink;
}

.banner {
    display: flex;
    flex-direction: column;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;

}

.cards {
    display: flex;
}

.quote {
    height: 300px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 40px 50px 40px ;
}

.cta {
    background-color: #3882f6;
    margin: 50px 100px 30px 100px;
    padding: 30px 50px 30px 50px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    border-radius: 8px;
}

.signup2 {
    background-color: #3882f6;
    border-color: white;
    color: white;
    border-radius: 6px;
}

.signup2:hover {
    color: pink;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}


